# --- General ---
NODE_ENV=development
JWT_SECRET=change-this-super-secret-jwt-key
JWT_EXPIRES_IN=8h

# Clave maestra para cifrado AES-256 de datos clinicos sensibles.
# Debe ser un secreto largo y aleatorio, igual en todos los servicios que cifran/descifran.
ENCRYPTION_KEY=change-this-32-byte-minimum-encryption-master-key

# --- PostgreSQL ---
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=medapp
DB_PASSWORD=medapp_secret
USERS_DB_NAME=users_db
REQUESTS_DB_NAME=requests_db
TELEMETRY_DB_NAME=telemetry_db
CLINICAL_DB_NAME=clinical_db
INTEGRATION_DB_NAME=integration_db
FINANCE_DB_NAME=finance_db

# --- RabbitMQ ---
RABBITMQ_URL=amqp://medapp:medapp_secret@rabbitmq:5672
RABBITMQ_TELEMETRY_QUEUE=telemetry_events_queue

# --- Gateway HTTP ---
GATEWAY_PORT=3000

# --- Microservicios TCP (host:puerto) ---
USERS_SERVICE_HOST=users-service
USERS_SERVICE_PORT=3001
REQUESTS_SERVICE_HOST=requests-service
REQUESTS_SERVICE_PORT=3002
TELEMETRY_SERVICE_HOST=telemetry-service
TELEMETRY_SERVICE_PORT=3003
CLINICAL_SERVICE_HOST=clinical-service
CLINICAL_SERVICE_PORT=3004
INTEGRATION_SERVICE_HOST=integration-service
INTEGRATION_SERVICE_PORT=3005
FINANCE_SERVICE_HOST=finance-service
FINANCE_SERVICE_PORT=3006
